<div class="navbar" id="header" role="heading">
  <div>
    <div id="title" routerLink="/main" title="Back to Main page" alt="Photoz">
      Photoz
    </div>
  </div>
  <div class="padding">
  </div>

  <div class="buttons" style="flex-direction: row;">
    <form [formGroup]="searchGroup" style="display: flex; flex-direction: row; margin-top: auto; margin-bottom: auto">
      <input formControlName="searchValue" (ngModelChange)="getSomeUsers()" list="searchValue"
             placeholder="Search for users" class="search-field">
      <datalist id="searchValue">
        <option *ngFor="let user of users" value="{{user.USERNAME}}">{{user.USERNAME}}</option>
      </datalist>
      <button class="btn-login btn-nav" (click)="toPhotos()">To photos</button>
    </form>
  </div>
  <div class="buttons">
    <div class="username" *ngIf="isLoggedIn"> Welcome, {{currentUser}}</div>
    <button *ngIf="!isLoggedIn" class="btn-login" routerLink="/login">Login</button>
    <button *ngIf="isLoggedIn" class="btn-login" (click)="toMyPhotos()">My photos</button>
    <button *ngIf="isLoggedIn" class="btn-login" (click)="toMyProfile()">Profile</button>
    <button *ngIf="isLoggedIn" class="btn-login" routerLink="/logout" (click)="logOut()">Logout</button>
  </div>
</div>

