<div class="login-container">
  <div class="login-div">
    <form [formGroup]="loginForm" (submit)="loginUser()">
      <h1 style="text-align: center; font-family: Arial">Login</h1>
      <div class="format">
        <div class="login-paddings">
          Username: <input type="text" formControlName="username">
        </div>
        <div class="login-paddings">
          Password: <input type="password" formControlName="password">
        </div>
        <div class="btn-container">
          <button [disabled]="loginForm.invalid" class="btn-login" type="submit">Login</button>
        </div>
        <div class="btn-container">
          <button class="btn-login btn-nav" routerLink="main">Back to main page</button>
        </div>
      </div>
    </form>
  </div>
  <div class="login-div">
    <form [formGroup]="registerForm" (submit)="registerUser()">
      <h1 style="text-align: center; font-family: Arial">Register</h1>
      <div class="format">
        <div class="login-paddings">
          Email:
          <input type="email" formControlName="email">
        </div>
        <div class="login-paddings">
          Full Name:
          <input type="text" formControlName="fullname">
        </div>
        <div class="login-paddings">
          Username: <input type="text" formControlName="username">
        </div>
        <div class="login-paddings">
          Password: <input type="password" formControlName="password">
        </div>
        <div class="login-paddings">
          Password again: <input type="password" formControlName="password2">
        </div>
        <div class="btn-container">
          <button class="btn-login" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
