body{
  background-color: #cbdffc;
  margin: 0;
  padding: 0;
}
input{
  width: 100%;
  outline: none;
}
button{
  cursor: pointer;
}

#title{
  cursor: pointer;
  font-family: Arial;
  font-size: 54px;
  margin-left: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar{
  display: flex;
  flex-direction: row;
  background-color: #9ec6fc;
  height: 4em;
}
.padding{
  width: 100%;
}

.login-container{
  display: flex;
  flex-direction: row;
  color: white;
  width: 95vw;
  margin: 2em auto auto auto;
  height: 50%;
  border: 0px;
  border-radius: 1em;
}
.login-div {
  border-radius: 1em;
  background-color: #607a6e;
  width: 50%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.format{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2em auto 2em auto;
}
.login-paddings{
  display: flex;
  flex-direction: column;
  padding: 1em 0em 1em;
}
.btn-login{
  min-width: 7em;
  color: whitesmoke;
  background-color: #0e275e;
  padding: 1em 0 1em 0;
  font-size: 1em;
  border: 0px;
  border-radius: 4px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.btn-login:hover{
  background-color: #143d98;
}
.btn-container{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
.btn-nav{
  width: auto;
  padding-left: 1em;
  padding-right: 1em;

}
.buttons{
  display: flex;
  justify-content: center;
  margin: auto 1em auto 1em;
  flex-direction: row;
  width: auto;
}

.profile-container {
  width: 70%;
  padding: 0.5em 1em 1em 1em;
  margin: 3em auto auto auto;
  background-color: whitesmoke;
}
.username{
  font-size: 20px;
  font-family: Arial;
  text-align: right;
  margin: auto 1em auto auto;
  min-width: 10em;
}
.container{
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.upload-container{
  margin-top: 1em;
  width: 85%;
  min-height: 70vh;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
}
.upload{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}
.add-photo{
  display: flex;
  flex-direction: row;
  margin: auto;
  /*margin-right: auto;*/
  justify-content: space-evenly;
}
.title {
  font-family: Arial;
  margin-left: 1em;
}
.upload-stuff{
  width: 95%;
  margin: 1em 1em auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.upload-inputs{
  width: 10em;
  margin: auto 1em auto 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
album-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.photos-of-user {
  margin-left: auto;
  margin-right: auto;
}

.viewer {
  max-width: 200px;
}

.photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo{
  font-family: Arial;
  color: black;
  background-color: white;
  border-radius: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}
